{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

{% url 'lovers_abts:home' as home_url %}
{% url 'lovers_abts:background' as background_url %}
{% url 'lovers_abts:proposal' as proposal_url %}
{% url 'lovers_abts:Directory' as Directory_url %}

<li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home Page</a></li>
<li class="{% if request.path == background_url %}active{% endif %}"><a href="{{ background_url }}">Background Page</a></li>
<li class="{% if request.path == proposal_url %}active{% endif %}"><a href="{{ proposal_url }}">Proposal Page</a></li>
<li class="{% if request.path == Directory_url %}active{% endif %}"><a href="{{ Directory_url }}">Directory Page</a></li>

<head>
 <link rel="stylesheet" href="background.css">
 </head>

{% endblock %}


{% block app_content %}

  <CENTER><H1>IDENTIFYING ZONES FOR FOREST USE</H1></CENTER>

<h3>Proposal </h3>

<p> - One of the important challenges faced by humans in developing countries is the decline of soil
conditions. The soil is so poor that it creates landslides easily and is a significant danger to the citizens of
these countries. These landslide zones due to poor soil affect more than 300 million hectares of land.
Furthermore, the citizens of these countries do not have enough resources to invest in soil restoration.
(D Flanagan, 2002). The soil degradation is highly affected by rainfall which triggers the overland flow
and soil erosion processes. (de Lima and Singh, 2002). Considering the above, we are proposing to
develop an APP to identify zones that consider slope, protected forested areas, and proximity to bodies
of water. Through these inputs we can decide which areas in developing countries should have
additional forests . Adding Forests can mitigate the problems with the soil previously described and help
comply with basic environmental standards. Forestation can be a cost effective solution for the
countries that cannot afford to remove / improve the soil with machinery or retaining walls.</p>

<div id = "image-content">

     <CENTER> <img src="{% static 'lovers_abts/images/deforestation_colombia.jpg' %}" alt="Trulli" width="500" height="400"> </CENTER>
</div>


</div>



{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'lovers_abts/css/background.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'lovers_abts/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
